{% extends 'homepage.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-book"></i>
            Libro Diario
        </h3>
        <h3 >
            <p>
               <i class="far fa-file-pdf" ></i>
            </p>

        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Operación</th>
                <th scope="col">Debe</th>
                <th scope="col">Haber</th>
            </tr>
            </thead>
            <tbody>
 <!--
 Iteraciones
 donmde C seria la clase a la que debería hacer referencia
 MAS O MENOS ESTO DEBERIA TENER ESTA ESTRUCTURA
 UNA VEZ QUE DEFINAMOS DE DONDE VA A TRARER LOS DATOS
 -->
 <!--
         {% for c in cuenta_asientos %}
                <tr>
                    <td>{{c.fecha}}</td>
                    <td>{{c.cuenta}}</td>
                    <td>{{c.detalle}}</td>
                    <td>{{c.debe}}</td>
                    <td>{{c.haber}}</td>
        </tr>
{% endfor %}
 -->




<!--
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
            </tr>
-->
            </tbody>

        </table>

    </div>
    <!-- /.card-body -->
</div>
{% endblock %}

