<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Error en la Carga</title>
    <style>
    body{
    background-color:#eaeaea
    }
        h1{

        }
        ul{
        color:red
        }
    </style>
</head>
<body>
<h1>Eu! Se han reportado errores en la carga del asiento.</h1>
<div class="container">
  <h2>Alerts</h2>

  <div class="alert alert-danger">

    <ul>
    {% for e in errores %}
        <li>
        <strong>Aviso: </strong>
            {{ e }}
        </li>
    {% endfor %}

</ul>
  <button class="btn btn-primary" onclick="location.href={% url 'homepage:homepage'%}">Volver a cargar</button>
  </div>
</div>

<a href="index.html"></a>
</body>
</html>