{% extends "base.html" %}
{% block listado %}
{% block content %}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-book"></i>
            {{ tittle }}
            Libro Diario
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scoe="col">Nº de Cuenta</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Operación</th>
                <th scope="col">Debe</th>
                <th scope="col">Haber</th>
            </tr>
            </thead>
            <tbody>
            <!--SEGUIR DESDE ACÁ-->
            {% for a in Asientos %}
            <tr>

                {{a.fecha}}
            </tr>
            {% endfor %}
            <!--
            Iteraciones
            donmde C seria la clase a la que debería hacer referencia
            MAS O MENOS ESTO DEBERIA TENER ESTA ESTRUCTURA
            UNA VEZ QUE DEFINAMOS DE DONDE VA A TRARER LOS DATOS
            -->
            <!--
                    {% for c in cuenta_asientos %}
                           <tr>
                               <td>{{c.fecha}}</td>
                               <td>{{c.cuenta}}</td>
                               <td>{{c.detalle}}</td>
                               <td>{{c.debe}}</td>
                               <td>{{c.haber}}</td>
                   </tr>
           {% endfor %}
            -->


            <!--
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                        </tr>
            -->
            </tbody>

        </table>

    </div>
    <!-- /.card-body -->
</div>
{% endblock %}

<!-- /.card-body -->
<div class="card-footer clearfix">

    <div class="content">
        <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal" data-whatever="@mdo"><i class="fas fa-plus"></i>Cargar asiento
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cargar nuevo asiento</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {%csrf_token%}
                            <div class="modal-body">
                                <!-- <form action="index.html" method="post"> --->
                                <div>
                                    <tr>
                                        <th scope="col">
                                            <div class="form-group">
                                                <label class="required" for="id_nombre_cuenta">Nombre
                                                    de Cuenta:</label>
                                                {{form.nombre_cuenta}}
                                                <!-- <input type="text" name="nombre_cuenta"
                                                        class="form-control" maxlength="80"
                                                        required="" id="id_nombre_cuenta">-->
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="checkbox-row">

                                                <input type="checkbox" name="recibe_saldo"
                                                       id="id_recibe_saldo" checked=""><label
                                                    class="vCheckboxLabel" for="id_recibe_saldo">
                                                Recibe saldo</label>
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="form-group">
                                                <div>
                                                    <label class="required" for="id_saldo_actual">Saldo
                                                        actual:</label>
                                                    <input type="number" class="form-control"
                                                           name="saldo-actual" step="positive"
                                                           id="id_saldo_actual">
                                                </div>
                                            </div>
                                        </th>

                                    </tr>
                                </div>
                                <div class="form-row field-tipo_cuenta">
                                    <div>
                                        <label class="required" for="id_tipo_cuenta">Tipo
                                            cuenta:</label>

                                        <div class="related-widget-wrapper">
                                            <select class="form-control" name="tipo_cuenta"
                                                    required="" id="id_tipo_cuenta">
                                                <option>option 1</option>
                                                <option>option 2</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-cuenta-padre">
                                    <div>
                                        <label class="required" for="id_cuenta_padre">Cuenta
                                            padre:</label>

                                        <div class="related-widget-wrapper">
                                            <select class="form-control" name="cuenta_padre"
                                                    required="" id="id_cuenta_padre">
                                                <option>option 1</option>
                                                <option>option 2</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="btnGuardar" class="btn btn-primary">
                                    Guardar
                                </button>
                                <button type="submit" class="btn btn-primary">Guardar y agregar
                                    otro
                                </button>
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cerrar
                                </button>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}

<script type="application/javascript">
    $('form').on('submit', function (e) {
        e.preventDefault();
        var parameters = $(this).serializeArray()
        console.log(parameters);
        /*$.ajax({
             url: '{% url "homepage: MyHomepage"%}',
             type: 'POST',
             data: {},
             dataType: 'Json'}).done(function (data){

         })

         })
          */
    })
</script>