{% extends "base.html" %}
{%load static%}

{%block libro %}

<div class="col-lg-3 col-6" onclick="location.href={% url 'homepage:homepage'%}">
                    <!-- small box -->
                    <div class="small-box bg-info" style="cursor: pointer">
                        <div class="inner">
                            <h3>Libro Diario</h3>

                            <p>Ver libro diario</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-book-outline"></i>
                        </div>
                        <div class="small-box-footer"><br></div>
                    </div>
                </div>

{%endblock %}

{%block listado %}
<section class="col-lg-12 connectedSortable">
<h2></h2>
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-book"></i>
            Activos
        </h3>
    </div>
    <div class="card-body table-responsive p-0 ">
        <table class="table table-head-fixed text-nowrap hover cell-border " id="activoData">
            <thead>
            <tr>
                <th scope="col">Cuenta</th>
                <th scope="col">Operacion</th>
                <th scope="col">Debe</th>
                <th scope="col">Haber</th>
                <th scope="col">Saldo</th>
            </tr>
            </thead>
            <tbody>

            {% for c in object_list %}
                {% if c.cuenta.tipo_cuenta.tipo == "Activo" %}
                    <tr>
                        <td>
                            {{ c.cuenta.nombre_cuenta }}
                        </td>
                    <td>
                            {{ c.asiento.descripcion }}
                        </td>
                        {% if c.tipo == 'D' %}
                        <td>
                            {{ c.monto }}
                        </td>
                        <td></td>
                        {% else %}
                        <td></td>
                        <td>{{ c.monto }}</td>
                        {% endif %}
                        <td>
                            {{ c.saldo_parcial }}
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>

        </table>

    </div>
</div>

</section>
<section class="col-lg-12 connectedSortable">
<h2></h2>
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-book"></i>
            Pasivos
        </h3>
    </div>

    <section class="col-lg-12 connectedSortable">

    <div class="card-body table-responsive p-0">
        <table class="table table-head-fixed text-nowrap hover cell-border" id="pasivoData">
            <thead>
            <tr>
                <th scope="col">Cuenta</th>
                <th scope="col">Operacion</th>
                <th scope="col">Debe</th>
                <th scope="col">Haber</th>
                <th scope="col">Saldo</th>
            </tr>
            </thead>
            <tbody>
            {% for c in object_list %}
                {% if c.cuenta.tipo_cuenta.tipo == "Pasivo" %}
                    <tr>
                        <td>
                            {{ c.cuenta.nombre_cuenta }}
                        </td>
                        <td>
                            {{ c.asiento.desctripcion }}
                        </td>
                        {% if c.tipo == 'D' %}
                        <td>
                            {{ c.monto }}
                        </td>
                        <td></td>
                        {% else %}
                        <td></td>
                        <td>{{ c.monto }}</td>
                        {% endif %}
                        <td>
                            {{ c.saldo_parcial }}
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>

        </table>

    </div>
</div>
    </section>
    </section>

{% endblock %}

{%block javascript %}
    <script type="application/javascript" >

        $(document).ready(function() {
    var groupColumn = 0;
    var table = $('#activoData').DataTable({
        "bDestroy": true,
        "columnDefs": [
            { "visible": false, "targets": groupColumn,},
        ],
        "order": [[ groupColumn, 'asc' ]],
        "displayLength": 10,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );

                    last = group;
                }
            } );
        }
    } );});
        $(document).ready(function() {
    var groupColumn = 0;
    var table = $('#pasivoData').DataTable({
        "bDestroy": true,
        "columnDefs": [
            { "visible": false, "targets": groupColumn,},
        ],
        "order": [[ groupColumn, 'asc' ]],
        "displayLength": 10,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );

                    last = group;
                }
            } );
        }
    } );});

        </script>
{% endblock %}
